# Executables
*.exe
main

# Object files
*.o
*.obj

# Build folders
build/
src/build/

# Debug symbols
*.pdb
*.ilk
*.dsym

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db

# Local project notes
Project Plan.txt
loc.txt

# Backup files
*.old